.country-item {
  list-style: none;
  &__link {
    padding: 7px 15px;
    background-color: #649eb4;
    display: block;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #649eb4;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #649eb4;
    }
  }
}
